{
   "broker" : "",
   "brokerport" : "1883",
   "topic" : "sc2mqtt",
   "brokerauth" : "0",
   "brokeruser" : "",
   "brokerpassword" : "",
   "user" : "",
   "password" : "",
   "expand_json_data" : "1"
}
